body {
    /*
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    background-image: linear-gradient(to top, #6e45e2 0%, #88d3ce 100%);
    background-image: linear-gradient(to bottom, #61a2a4 0%, #43345d 100%);
    background-image: linear-gradient(to top, #214361 0%, #392f61 100%);
    */

    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

main {
    height: 100vh;
    padding-top: 9vh;
}

#about {
    margin-top: 2.5vh;
    margin-bottom: 4vh;
    padding: 5vh;
    color: white;
    font-size: 20px;
}

hr {
    border-color: white;
}