button:focus, button:active:focus, button.active:focus,
button.focus, button:active.focus, button.active.focus {
    outline: none;
    box-shadow:none;
}

.black {
    width: 110px;
    background: none;
    border: 1.8px solid;
    font: inherit;
    line-height: 1;
    margin-bottom: 30px;
    padding: 0.5em 1.5em;
    transition: 0.25s;
    border-color: #1a1a1a;
    color: #1a1a1a;
    text-decoration: none;
}

.black:hover,
.black:focus {
    box-shadow: inset 0 -3.25em 0 0 #1a1a1a;
    text-decoration: none;
    color: white;
}

.white {
    width: 110px;
    background: none;
    border: 1.8px solid;
    font: inherit;
    line-height: 1;
    margin-bottom: 30px;
    padding: 0.5em 1.5em;
    transition: 0.25s;
    border-color: white;
    color: white;
    text-decoration: none;
}

.white_width {
    width: 140px;
    background: none;
    border: 1.8px solid;
    font: inherit;
    line-height: 1;
    margin-bottom: 30px;
    padding: 0.5em 1.5em;
    transition: 0.25s;
    border-color: white;
    color: white;
    text-decoration: none;
}

.white:hover,
.white:focus {
    box-shadow: inset 0 -3.25em 0 0 white;
    text-decoration: none;
    color: #1a1a1a;
}

.black_width {
    background: none;
    border: 1.8px solid;
    font: inherit;
    line-height: 1;
    width: 220px;
    margin-bottom: 30px;
    padding: 0.5em 1.5em;
    transition: 0.25s;
    border-color: var(--black);
    color: var(--black);
    text-decoration: none;
}

.black_width:hover,
.black_width:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--black);
    text-decoration: none;
    color: white;
}
.clicked {
    box-shadow: inset 0 -3.25em 0 0 var(--black);
    text-decoration: none;
    color: white;
}

.link {
    width: 110px;
    background: none;
    border: 1.8px solid;
    font: inherit;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0.4em 1.5em;
    transition: 0.25s;
    border-color: white;
    color: white;
    text-decoration: none;
 }

.link:hover,
.link:focus {
    box-shadow: inset 0 -3.25em 0 0 white;
    text-decoration: none;
    color: var(--black);
}

.button {
     text-decoration: none;
     border: 0;
     background: none;
     padding-right: 25px;
     padding-left: 25px;
     color: var(--black);
     opacity: 0.4;
 }

.button:hover,
.button:focus {
    text-decoration: none;
    color: var(--color);
    border: 0;
    opacity: 1;
}

.info {
    text-decoration: none;
    border: 0;
    background: none;
    padding-right: 25px;
    padding-left: 25px;
    color: var(--black);
    opacity: 0.4;
}

.info:hover,
.info:focus {
    border: 0;
    opacity: 1;
}