#close {
    color: var(--black);
    background: none;
    border: none;
    padding-right: 25px;
    padding-left: 25px;
}

#close:hover,
#close:focus {
    border: none;
    opacity: 1;
    color: var(--color);
}

#upForm .black {
    margin-top: 25px;
    margin-bottom: 15px;
}

.up-content {
    padding-bottom: 40px;
}

#register a {
    text-decoration: none;
    color: var(--black);
}

#register a:hover {
    color: var(--color);
    text-decoration: none;
    opacity: 1;
}