input {
    box-sizing: border-box;
    justify-content: center;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-color: var(--black);
    color: var(--black);
    outline: 0;
    text-align: center;
    width: 280px;
    margin-bottom: 20px;
    font-size: 17px;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

input:focus {
    color: var(--color);
}

#upForm input {
    width: 220px;
}

#calculator input {
     width: 70px;
     background-color: transparent;
     text-align: right;
     border: none;
     display: block;
     margin: 10px;
     padding: 5px;
     border: 0;
     color: #1a1a1a;
     margin-right: 2px;
     margin-left: 0;
     padding-left: 0;
 }

#calculator input[type=number]::-webkit-inner-spin-button,
#calculator input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#overview input {
    padding-left: 0;
    width: 30px;
    padding-right: 10px;
}
.simple input {
    width: 80px;
    background-color: transparent;
    text-align: right;
    border: none;
    display: block;
    margin: 10px;
    padding: 5px;
    border: 0;
    color: #1a1a1a;
    margin-right: 2px;
    margin-left: 0;
    padding-left: 0;
}

.simple input[type=number]::-webkit-inner-spin-button,
.simple input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
