body {
    /*
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    background-image: linear-gradient(to top, #6e45e2 0%, #88d3ce 100%);
    background-image: linear-gradient(to bottom, #61a2a4 0%, #43345d 100%);
    background-image: linear-gradient(to top, #214361 0%, #392f61 100%);
    */

    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;

}

.logo {
    font-size: 40px;
    color: white;
}

main {
    height: 100vh;
    padding-top: 7vh;
}

header {
    padding-top: 2vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* ---------------------------- */

nav #login-trigger,
nav #signup a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

nav #signup a {
    border-radius: 0 3px 3px 0;
}

nav #login-trigger {
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
    background: #fff;
}

nav #login-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}

nav li #login-content {
    right: 0;
    width: 250px;
}

/* ---------------------------- */

input,
span,
label,
textarea {
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
}

textarea:focus,
input:focus {
    outline: 0;
}
/* Question */

input.question,
textarea.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
    border-color: green;
}

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #EEE;
}

input[type="submit"]:active {
    background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}