:root {
    --color: #60b3bf;
    --light: #7cd6e2;
    --black: #1a1a1a;
}

body {
/*
    background-image: linear-gradient(to bottom, #A8BFFF 0%, #884D80 70%, #fefefe 70%);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-image: linear-gradient(to bottom, #a8caba 0%, #5d4157 100%);
    background-image: linear-gradient(to bottom, #6f46f4 0%, #88d3ce 85%, #fefefe 85%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
*/

    background-color: #fefefe;
    background-image: repeating-radial-gradient(circle at 0 80%, rgba(27, 27, 30, 0.1), rgba(88, 164, 176, 0.15) 1px, rgba(216, 219, 226, 0.2) 2px, rgba(88, 164, 176, 0.15) 3px, rgba(27, 27, 30, 0.1) 4px), radial-gradient(circle at 0 100%, #1b1b1e, #373f51, #58a4b0);
    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 19px;
    color: white;
    text-align: center;
}

main {
    padding-top: 5vh;
    padding-bottom: 1vh;
    background-color: #fefefe;
    color: var(--black);
    height: 100%;
}

.bg {
    background-image: repeating-radial-gradient(circle at 0 80%, rgba(20, 20, 23, 0.1), rgba(64, 116, 128, 0.15) 1px, rgba(216, 219, 226, 0.2) 2px, rgba(88, 164, 176, 0.15) 3px, rgba(27, 27, 30, 0.1) 4px), radial-gradient(circle at 0 100%, #1a1a1a, #0e0e1e, #0c0c0f);
    background-size: 100vw 100vh;
    color: var(--black);
}

header {
    padding-top: 3vh;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}

h2 {
    margin-top: 3vh;
    margin-bottom: -5px;
}

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.7em;
    margin-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 0;
}

a {
     color: var(--color);
}

a:hover,
a:focus {
    text-decoration: none;
    color: white;
}

.about a:hover,
.about a:focus {
    text-decoration: none;
    color: var(--light);
}

.simple a:hover,
.simple a:focus {
    text-decoration: none;
    color: var(--light);
}

.image {
    z-index: -1;
    position: absolute;
    left: 8vw;
}

.simple {
    text-align: center;
}

#split {
    padding-top: 18vh;
    padding-bottom: 1vh;
    margin-top: 10vh;
    height: 80vh;
    box-sizing: border-box;
    background-image: repeating-radial-gradient(circle at 0 80%, rgba(14, 14, 17, 0.1), rgba(88, 164, 176, 0.15) 1px, rgba(216, 219, 226, 0.2) 2px, rgba(88, 164, 176, 0.15) 3px, rgba(27, 27, 30, 0.1) 4px), radial-gradient(circle at 0 100%, #1b1b1e, #373f51, #58a4b0);
    color: white;
}

.box {
    position: absolute;
    border: 3px solid var(--black);
    left: 25vw;
    top: 15vh;
    height: 70vh;
    width: 50vw;
    z-index: -1;
}

.split {
    box-sizing: border-box;
    margin-top: 10vh;
    height: 80vh;
    padding-top: 15vh;
    color: var(--black);;
    background-color: white;
}

.only {
    margin-top: 0;
    height: 100vh;
    padding-top: 7vh;
    vertical-align: middle;
}

#show h1 {
    margin-top: 20px;
}

#show p {
    margin-bottom: 30px;
}

.space {
     margin-top: 40px;
}

.spaceAfter {
    margin-bottom: 50px;
}

.between {
    margin-top: 26px;
    margin-bottom: 40px;
}

.text {
    padding-top: 5em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    text-align: left;
}

.user {
    text-transform: uppercase;
}

.explanation {
    padding-bottom: 10px;
}

.create {
    margin-top: 20px;
}

#calculator {
    padding-top: 2em;
}

#save {
    margin-top: 20px;
}

.subtitle {
    font-size: 50px;
}

.error {
    color: var(--color);
    margin-bottom: 10px;
    margin-top: -30px;
}

#totalSum {
    margin-top: 6vh;
    margin-bottom: 3vh;
 }

.newCurrency,
.sum {
    box-sizing: border-box;
    justify-content: center;
}

input.amount {
    margin-right: 2px;
}

.output {
    width: 105px;
    text-align: right;
    margin-left: 22px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 5px;
}

.submit {
    margin-bottom: 1vh;
}

.hidden {
    display: none;
}

.short {
    margin-bottom: -60px;
}

.middle {
    margin-left: 20px;
    margin-right: 20px;
}

.start {
    margin-left: 40px;
}

.change {
    background-color: transparent;
    text-align: right;
    border: none;
    display: block;
    width: 140px;
    margin: 10px;
    padding: 5px;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    border: 0;
    color: var(--black);
}

#overview .change {
    padding-right: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

#logo {
    border: 0;
    background: none;
    margin-top: -18px;
    margin-bottom: -18px;
    padding-right: 25px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 50px;
}



