    <select name="currency" class="currency offset-3 crypto align-self-start">
        <option value="BTC" class="unit" selected>BTC</option>
    </select>
    <input class="amount offset-2 col-4" type="number" name="amount" value="0">
    <button class="remove" type="button" name="remove">X</button>