{% include 'head.twig' %}
<title>µnzen</title>
</head>

<body>
<main>
    <div class="container">
        <div class="row">
            <div class="space col-12"></div>
        </div>
    </div>

    <header class="offset-lg-4 col-lg-4 offset-lg-4 offset-sm-2 col-sm-8 offset-sm-2">
        <nav class="container">
            <div class="navbar row">
                <button class="nav"><a href="about.html">ABOUT</a></button>
                <button id="logo" class="nav">µ</button>
                <button id="login" class="nav">SIGN IN</button>
            </div>
            <hr>
        </nav>
    </header>

    <h1 class="offset-lg-3 col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset-sm-2">Cryptocurrency calculator</h1>
    <p id="explanation" class="offset-lg-2 col-lg-8 offset-lg-2 offset-sm-1 col-sm-10 offset-sm-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Mattis molestie a iaculis at erat. Purus semper
        eget duis at tellus at. Dolor magna eget est lorem ipsum
        dolor. Massa enim nec dui nunc.
    </p>


    <form id="calculator" action="../login/register.php" method="post">

        <fieldset>
            <div id="portfolio" class="container">

            </div>
        </fieldset>

        <fieldset>
            <button id="add" class="button" type="button" name="add">ADD CRYPTOCURRENCY</button>
        </fieldset>

        <fieldset>
            <div id="totalSum" class="container">
                <div class="sum row">
                    <select name="money">
                        <option value="1" selected>USD</option>
                    </select>
                    <div class="output">{{ TotalSum }}</div>
                </div>
            </div>
        </fieldset>

        <fieldset id="save">
            <button class="up submit" type="submit" name="save">SAVE</button>
        </fieldset>
    </form>

    <div id="loginForm">
        <div class="loginBox">
            <div class="login-content">
                <button class="offset-9" id="close">CLOSE</button>
                <form method="post" action="login/checklogin.php">
                    <fieldset id="input">
                        <input id="myemail" type="text" name="myemail" required>
                        <label>EMAIL ADDRESS</label>
                        <input id="mypassword" type="password" name="mypassword" required>
                        <label>PASSWORD</label>
                    </fieldset>
                    <fieldset id="action">
                        <button class="up" type="submit" name="submit" value="SIGN IN">SIGN IN</button>
                    </fieldset>
                </form>
                <p>or</p>
                <div id="register"><a href="login/register.php">Create a portfolio</a></div>
            </div>
        </div>
    </div>

</main>
<script src="../js/login.js"></script>
</body>