{% include 'head.twig' %}
<title>µnzen</title>
</head>

<body>
<main class="offset-1 col-10 offset-1">
    <div class="container">
        <div class="row">
            <div class="space col-12"></div>
        </div>
    </div>

    <header>
        <nav class="container">
            <ul class="navbar row">
                <li class="col-4"><a href="about.php">ABOUT</a></li>
                <li class="logo col-4">µ</li>
                <li class="col-4" id="login">
                    <a id="login-trigger" href="#">SIGN IN</a>
                    <div id="login-content">
                        <form method="post" action="../login/checklogin.php">
                            <fieldset id="input">
                                <input id="email" type="email" name="email" placeholder="EMAIL ADDRESS"
                                       required>
                                <input id="password" type="password" name="password" placeholder="PASSWORD"
                                       required>
                            </fieldset>
                            <fieldset id="action">
                                <input id="submit" type="submit" value="SIGN IN">
                                <label><input type="checkbox" checked="checked">Keep me signed in</label>
                            </fieldset>
                        </form>
                        <div id="register"><a href="register.php">Create a portfolio</a></div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <hr class="line">


    <form action="../login/register.php" method="post">
        <fieldset>
            <div id="portfolio" class="container">
                <div class="row newCurrency">
                    {% include 'currency.twig' %}
                </div>
                <div class="row newCurrency">
                    {% include 'currency.twig' %}
                </div>
            </div>
        </fieldset>

        <fieldset id="add">
            <button class="up add" type="button" name="add">ADD</button>
        </fieldset>

        <hr class="line">

        <fieldset id="totalSum">
            <div class="container">
                <div class="row">
                    <select name="money">
                        <option value="USD" selected>USD</option>
                        <!-- TODO: Optionen -> Währungen einfügen -->
                    </select>
                    <div class="col 4"><p>{{ TotalSum }}</p></div>
                </div>
            </div>
        </fieldset>

        <fieldset id="save">
            <button class="up" type="submit" name="save">SAVE</button>
        </fieldset>
    </form>


</main>
</body>