{% include 'head.twig' %}

<title>Portfolio</title>
</head>

<body>
    <main>
        <div>
            <header>
                <nav>
                    <ul>
                        <li><a href="profil.html"><img src="../public/img/profil.png"></a></li>
                        <li><a href="portfolio.php"><img src="../public/img/portfolio.png"></a></li>
                        <li><a href="statistics.php"><img src="../public/img/statistics.png"></a></li>
                    </ul>
                </nav>
                <h1>Hello {{ firstName }}</h1>
            </header>

        </div>
    </main>
</body>