{% include 'head.twig' %}
<title>Portfolio</title>
</head>

<body>
    <main>

        <h1 class="offset-lg-3 col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset-sm-2">Hello <button class="none">{{ FirstName }}John</button>!</h1>
        <p id="explanation" class="offset-lg-2 col-lg-8 offset-lg-2 offset-sm-1 col-sm-10 offset-sm-1">
            Welcome back. You won/losed 300 USD these are 3 %.
            <br>Look at the <a class="info" href="#statistic">statistics</a>.
        </p>

        <p>Your portfolio is worth 2048.98 USD.</p>

        <section>
            <h3>PORTFOLIO</h3>
            <!-- Einbindung Datenbank -->
        </section>

        <button class="addSection button">ADD CHANGES</button>

        <section id="change">
            <form action="../change.php" method="post">
                <fieldset>
                    <div id="portfolio" class="container">
                        <div class="newCurrency row">
                            <select name="currency">
                            </select>
                            <input class="amount" type="number" name="amount" value="0">
                            <button class="button remove" type="button" name="remove">x</button>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <button id="add" class="button" type="button" name="add">ADD CRYPTOCURRENCY</button>
                </fieldset>

                <fieldset id="save">
                    <button class="up submit" type="submit" name="save">SAVE</button>
                </fieldset>
                <button class="closeSection button" type="button">CLOSE</button>
            </form>

        </section>



        <section id="statistic">
            <h3>STATISTICS</h3>
            <!-- Graphen -->
        </section>

    </main>
</body>