{% include 'head.twig' %}
<title>Create your portfolio</title>
</head>
<script src='{{"public/js/signup.js"}}'></script>
<body class="bg">

    <main class="dark offset-lg-1 col-lg-5 col-md-6 col-sm-12 float-left">
        <img id="logo" src="images/logo_w.png" height="131" width="163">
        <h1>CREATE YOUR PORTFOLIO</h1>
        <p>
            Join us and manage all your cryptocurrencies.
        </p>
        <p  class="space">ALREADY HAVE A PORTFOLIO?</p>
        <button class="login white">SIGN IN</button>

    </main>
    <div class="split col-lg-5 col-md-6 float-left">
        <div>
            <form class="register" id="register" name="register" method="post" action='login/newuser.php'>
                <!-- Displaying error message -->
                {% if error is defined %}
                    <fieldset>
                        <p class="error">{{ error }}<br>Please try again:</p>
                    </fieldset>
                {% endif %}
                <fieldset class="name">
                    <label class="col-12">NAME</label>
                    <input type="text" maxlength="20" name="username">
                </fieldset>
                <fieldset class="email">
                    <label class="col-12">EMAIL ADDRESS</label>
                    <input type="text" name="email" id="email">
                </fieldset>
                <fieldset class="password">
                    <label class="col-12">PASSWORD</label>
                    <input type="password" name="password" id="password">
                    <label class="col-12">CONFIRM PASSWORD</label>
                    <input type="password" name="confirmPassword" id="confirmPassword">
                </fieldset>
                <button class="black create" type="submit" name="submit" id="submit">CREATE MY PORTFOLIO</button>
            </form>
        </div>
    </div>
    <div id="upForm">
        <div class="upBox">
            <div class="up-content">
                <button class="offset-8" id="close">CLOSE</button>
                <h2>WELCOME BACK</h2>
                <p class="spaceAfter">LOGIN TO YOUR ACCOUNT</p>
                <!-- Displaying error message -->
                {% if error == true %}
                    <fieldset>
                        <p class="error">Sorry, something went wrong.<br>Please try again:</p>
                    </fieldset>
                {% endif %}
                <form method="post" action="login/checklogin.php">
                    <fieldset id="input">
                        <label>EMAIL ADDRESS</label>
                        <input id="myemail" type="text" name="myemail" required>
                        <label>PASSWORD</label>
                        <input id="mypassword" type="password" name="mypassword" required>
                    </fieldset>
                    <fieldset id="action">
                        <button class="black" type="submit" name="submit" value="SIGN IN">SIGN IN</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
</body>