{% include 'head.twig' %}


<title>Create your portfolio</title>
</head>
<script src='{{"public/js/js.cookie.js"}}'></script>
<script src='{{"public/js/Cookies.js"}}'></script>
<script src='{{"public/js/save.js"}}'></script>


<body>
<form id="calculator" method="post" class="hidden">

    <fieldset>
        <div id="portfolio" class="container">
            <!--             <div class="newCurrency row">
                                <div class="newCurrency row">
                                    <input class="amount" type="text" name="amount" value="0">
                                    <select class="portfolio_values" name="currency"><option>BTC</option></select>
                                    <p class="change button">3203.92</p>
                                    <button class="button remove" type="button" name="remove">x</button>
                                </div>
                            </div>
            -->
        </div>
    </fieldset>

</form>



    <h1>Thank you for signing up!</h1>

<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

</body>